<h1> Study the week </h1>
<button id="rep" type="button"> Republican </button>
<button id="dem" type="button"> Democrate </button>
<button id="fb" type="button"> Facebook</button>

<script type='text/javascript' src='https://cdn.firebase.com/js/simple-login/1.6.1/firebase-simple-login.js'></script>
<script type='text/javascript' src='https://cdn.firebase.com/js/client/1.0.17/firebase.js'></script>
<script>

  $("#fb").on("click", function(){
        var chatRef = new Firebase('https://lincolnhackathon.firebaseIO.com');
        var auth = new FirebaseSimpleLogin(chatRef, function(error, user) {
          if (error) {
              // an error occurred while attempting login
            alert(error);
          } else if (user) {
                // user authenticated with Firebase
             alert('User ID: ' + user.id + ', Provider: ' + user.provider);
          } else {
                 // user is logged out
            }
          });
          // attempt to log the user in with your preferred authentication provider
          auth.login('facebook');
        });
</script>
